orjson
pandas
pyarrow
openpyxl
pydantic
rich

# project related
google_play_scraper
price_parser

# For web scraping
requests
beautifulsoup4

# Develop Tools
ipykernel
ipywidgets
pre-commit

# Pytes Tools
pytest
pytest-cov
pytest-xdist
pytest-asyncio
genbadge[all]
