orjson
pandas
pyarrow
openpyxl
pydantic
rich
google_play_scraper
gradio
deep-translator
deep-translator[docx]
deep-translator[pdf]

# project related
date-parser
price_parser

# test develop
requests
beautifulsoup4

# Develop dependencies
ipykernel
ipywidgets
pre-commit
pytest

# # deprecated dependencies
# playwright
# omegaconf
# tqdm
