orjsonl
orjson
pandas
playwright
pre-commit
openpyxl
pydantic
omegaconf
rich
google_play_scraper
tqdm

# test develop
requests
beautifulsoup4

# Develop dependencies
ipykernel
ipywidgets
pre-commit
pytest
